﻿﻿/*
font-family: 'Open Sans', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Big John', sans-serif;
*/

* {
    padding: 0;
    margin: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Big John';
    src: url(../fonts/Big_John/BIG_JOHN.otf) format('otf');
    font-weight: 700;
    font-style: normal;
}

.batton_top {
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #19bd9a;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    opacity: 0;
    z-index: 10000;
    transition: all .5s ease;
    visibility: hidden;
}

.visible {
    visibility: visible;
    transition: all .5s ease;
    opacity: 1;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

section {
    max-width: 2560px;
    min-width: 1170px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}

.relative {
    position: relative;
}


/*header*/

.header {
    max-width: 2560px;
    min-width: 1170px;
    text-align: center;
    background: url(../img/header_image.jpg) no-repeat center top/cover;
    padding-bottom: 77px;
}

.logo_and_menu_container {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo {
    font-family: 'Big John', sans-serif;
    font-weight: 700;
    font-size: 25pt;
    text-transform: uppercase;
    color: #fff;
}

.menu {
    display: inline-flex;
    justify-content: space-between;
}

.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0
}

.menu li a {
    display: inline-block;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
    border: 1px solid transparent;
    border-radius: 16px;
    transition: 0.5s ease;
}

.menu li a:hover {
    border: 1px solid #fff;
}

.intro {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 35pt;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-top: 215px;
}

.message {
    font-size: 16px;
    color: #fff;
    display: block;
    width: 460px;
}

.message_margin {
    margin: 40px auto 0;
}

.anchor_margin {
    margin-top: 220px;
}

.anchor a {
    display: inline-flex;
    width: 36px;
    height: 36px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #fff;
    background-color: #19bd9a;
    border-radius: 50%;
}


/*header_end*/


/*section_1*/

.data_container {
    text-align: left;
    width: 850px;
    margin: 80px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.section_name {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20pt;
    color: #333b46;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.info .message {
    line-height: 1.5;
    color: #81868e;
    font-size: 14pt;
    display: block;
    width: 488px;
    padding: 40px 0 32px 0;
}

.button {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: #333b46;
    font-size: 16px;
    font-weight: 400;
    padding: 9px 30px;
    border: 1px solid #333b46;
    border-radius: 20px;
}


/*section_1_end*/


/*section_2*/

.container_bg {
    background-color: #f3f3f3;
}

.section_data {
    padding-top: 80px;
    text-align: center;
}

.message_grey {
    color: #81868e;
    width: 535px;
}

.section_data .message_margin {
    margin: 40px auto 0;
}

.icons_container {
    width: 214px;
    display: flex;
    justify-content: space-between;
    margin: 60px auto 0;
}

.icons_container a {
    display: inline-flex;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    background-color: #81868e;
    border-radius: 50%;
    transition: 2s ease;
}

.icons_container a.active,
.icons_container a:hover {
    background-color: #19bd9a;
    transition: .5s ease;
}

.ideas {
    font-size: 20px;
    color: #464646;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.idea_messages {
    margin-top: 60px;
}

.messages {
    margin-top: 35px;
    display: flex;
    padding-bottom: 100px;
}

.messages .message {
    text-align: left;
    width: inherit;
    font-size: 16px;
    color: #81868e;
}

.message_container_1 {
    width: 330px;
}

.message_container_2 {
    margin-left: 125px;
    width: 520px;
}

span.green {
    font-weight: 700;
    color: #19bd9a;
}

span.bold {
    font-weight: 700;
    color: #636971;
}


/*section_2_end*/


/*section_3*/

.section_name_margin {
    margin-top: 80px;
}

.grid_container {
    margin-top: 60px;
    display: grid;
    width: 100%;
    height: 320px;
    grid-template-columns: repeat(2, 50%);
}

.special_item {
    grid-column-start: 1;
    grid-column-end: 2;
}

.special_item2 {
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid_item {
    width: 100%;
    position: relative;
    overflow: hidden;
    color: #fff;
    transition: 1s ease;
    display: flex;
}

.grid_item img {
    margin: auto;
    min-width: 100%;
    height: auto;
    filter: grayscale(100%);
    transition: 1s ease;
}

.grid_item img:hover {
    filter: none;
    transition: filter .8s ease-in-out;
    transition: 1s ease;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #242424;
    opacity: .9;
    transition: 1s ease;
}

.filter_text {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 25;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: 1s ease;
}

.second_img {
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -100;
    animation-name: second_img_animation;
    animation-duration: 5.3s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: 1s ease;
}

img.another_timing {
    animation-duration: 7.3s;
}

@keyframes second_img_animation {
    0% {
        opacity: 0;
        z-index: -50;
    }
    100% {
        opacity: 1;
        z-index: 10;
    }
}

.grid_item:hover>.filter {
    opacity: 0;
    z-index: -2;
    transition: 1s ease;
}

.grid_item:hover>.filter_text {
    opacity: 0;
    z-index: -1;
    transition: 1s ease;
}

.image_after_grid {
    overflow: hidden;
    height: 113px;
    background: url(../img/shoes.jpg) no-repeat center top/cover;
}

.image_after_grid div {
    margin: 38px auto 0;
    width: 1030px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image_after_grid p {
    font-size: 20px;
    color: #fff;
}

.image_after_grid .button {
    color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
}


/*section_3_end*/


/*section_4*/

.infographic_container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 135px;
}

.graphic_design_container {
    display: flex;
    justify-content: space-between;
}

.skills_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.design_icons {
    height: 264px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.design_icons i {
    display: flex;
    width: 54px;
    height: 54px;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
    background-color: #81868e;
    border-radius: 50%;
    transition: 1s ease;
}

.design_icions_container .special_icon_item {
    background-color: #19bd9a;
}

.design_icons i:hover {
    background-color: #19bd9a;
    transition: .5s ease;
}

.graphic_design_info {
    width: 405px;
    text-align: left;
    margin-left: 45px;
}

.graphic_design_info .message {
    text-align: left;
    width: inherit;
    font-size: 16px;
    color: #81868e;
}

.graphic_design_info p.message:nth-child(2) {
    margin-top: 30px;
}

.graphic_design_info p.message:nth-child(3) {
    margin-top: 40px;
}

.circle_bar_container {
    width: 454px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.1s ease;
}

.circle_bar_outer {
    height: 124px;
    transform: scaleX(-1);
}

.direction {
    margin-top: 24px;
    font-size: 16px;
    color: #81868e;
}


/*section_4_end*/


/*section_5*/

.section_bg {
    position: relative;
}

.section_bg:hover .section_background {
    filter: grayscale(0);
    transition: 1s ease;
}

.section_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    filter: grayscale(1);
    background: url(../img/man_bg.jpg) no-repeat center top/cover;
    transition: 1s ease;
}

.section_bg .section_name {
    color: #b2b3b3;
    font-weight: 400;
    text-align: left;
    padding-top: 80px;
}

.section_bg .message {
    color: #b2b3b3;
    width: 500px;
    margin-top: 55px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    font-family: "Times New Roman", serif;
}

.second_message {
    color: #b2b3b3;
    margin-top: 55px;
    font-size: 14px;
    line-height: 1.5;
    text-transform: uppercase;
    text-align: left;
    font-family: "Times New Roman", serif;
    font-weight: bold;
}

.mac {
    right: 0;
    top: -40px;
    position: absolute;
    overflow: hidden;
}

.title_1 {
    position: absolute;
    color: #fff;
    font-family: 'Big John', sans-serif;
    font-weight: 700;
    font-size: 30pt;
    top: 110px;
    left: 118px;
    opacity: 1;
    z-index: 1;
    animation-name: first_title_animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes first_title_animation {
    0% {
        opacity: 1;
        z-index: 1;
    }
    50% {
        opacity: 0;
        z-index: -1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
}

.title_2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    color: #fff;
    top: 100px;
    left: 90px;
    font-size: 20px;
    width: 230px;
    text-align: left;
    opacity: 0;
    z-index: -1;
    animation-name: second_title_animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

@keyframes second_title_animation {
    0% {
        opacity: 0;
        z-index: -1;
    }
    50% {
        opacity: 1;
        z-index: 1;
    }
    100% {
        opacity: 1;
        z-index: 1;
    }
}

.title_2 div:nth-child(1) {
    width: 110px;
}

.title_2 div:nth-child(2) {
    width: 90px;
}

.container_padding {
    padding-bottom: 100px;
}


/*section_5_end*/


/*section_6*/

.portfolio_categories_list {
    display: flex;
    justify-content: space-between;
    width: 580px;
    margin: 75px auto 0;
    font-size: 16px;
}

.portfolio_categories_item {
    position: relative;
    overflow: hidden;
    height: 32px;
}

.green_line {
    position: absolute;
    width: 38px;
    height: 2px;
    background-color: #19bd9a;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    transition: .7s ease;
}

.portfolio_categories_item a {
    color: #464646;
}

.portfolio_categories_item.active>.green_line {
    opacity: 1;
    transition: .7s ease;
}

.portfolio_categories_item:hover .green_line {
    opacity: 1;
    transition: .7s ease;
}

.portfolio_grid_container {
    margin: 75px auto 0;
    display: grid;
    width: 1110px;
    height: 950px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(1, auto);
    grid-gap: 10px;
}

.portfolio_grid_item {
    position: relative;
    width: 270px;
    min-height: 100%;
    overflow: hidden;
    text-align: left;
}

.portfolio_grid_item img {
    min-height: 100%;
}

.portfolio_grid__sub_container {
    display: grid;
    height: 950px;
    grid-gap: 10px;
}

.portfolio_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition-property: opacity;
    transition: .7s ease-out;
    z-index: -20;
}

.portfolio_filter_text {
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    transition: all .7s ease-out;
    z-index: -19;
}

.portfolio_filter_text div {
    width: 205px;
}

.portfolio_filter_text span {
    font-family: 'Source Sans Pro', sans-serif;
}

.green_line_short {
    margin-top: 18px;
    width: 23px !important;
    height: 1px;
    background-color: #19bd9a;
}

.portfolio_message {
    margin-top: 30px;
    font-size: 14px;
    color: #b2b3b3;
    line-height: 1.7;
}

.social_icons {
    display: flex;
    width: 65px;
    justify-content: space-between;
}

.social_icons a {
    color: #d1d1d1;
}

.social_icons li {
    margin-top: 35px;
    display: flex;
    width: 29px;
    height: 29px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #000;
    border-radius: 50%;
}

.portfolio_grid_item.active_item .portfolio_filter,
div.portfolio_grid_item:hover>.portfolio_filter {
    opacity: .75;
    z-index: 20;
}

.portfolio_grid_item.active_item .portfolio_filter_text,
div.portfolio_grid_item:hover>.portfolio_filter_text {
    z-index: 25;
}

.image_garbeo {
    color: #fff;
    font-size: 20px;
    margin: 40px auto 0;
    overflow: hidden;
    height: 201px;
    width: 1110px;
    background: url(../img/garbeo_2.jpg) no-repeat center top/cover
}

.image_garbeo span,
.image_garbeo a {
    color: #fff;
}

.image_garbeo a {
    margin-top: 42px;
    border-color: #fff;
}

.image_garbeo p {
    margin-top: 59px;
}


/*section_6_end*/


/*section_7*/

.section_name_big_margin {
    margin-top: 180px;
}

.slider_container {
    margin: 60px auto 0;
    width: 1030px;
}

.slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team_member_info {
    text-align: right;
    color: #81868e;
    width: 415px;
}

.name_and_pozition_container {
    border-right: 4px solid #19bd9a;
    padding-right: 41px;
}

.name {
    color: #464646;
    font-size: 20px;
    font-weight: 400;
}

.member_message {
    margin-top: 28px;
    padding-right: 45px;
}

.skills_container {
    padding-right: 45px;
    margin-top: 45px;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.skill_container {
    margin-left: auto;
}

.skill_value {
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    width: 330px;
}

.skill_bar_container {
    position: relative;
    margin-top: 6px;
    height: 4px;
    width: 100%;
    background-color: #e1e4e9;
}

.skill_bar {
    position: absolute;
    background-color: #19bd9a;
    height: 100%;
    top: 0;
    left: 0;
}

.percent_80 {
    width: 80%;
}

.percent_65 {
    width: 65%;
}

.percent_75 {
    width: 75%;
}

.slider_buttons {
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    width: 50px;
}

.slider_button {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: 1px solid #19bd9a;
}

.is_active {
    background-color: #19bd9a;
    ;
}

.position {
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-transform: uppercase;
}

.bg_image_container {
    background: url(../img/hand_with_pen.jpg) no-repeat center top/cover;
    height: 201px;
    text-align: center;
    margin-top: 100px;
    z-index: 100;
    position: relative;
    filter: grayscale(1);
}

.second_image {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    filter: grayscale(1);
    z-index: -200;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    animation-name: second_image_animation;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    transition: 4s ease;
}

@keyframes second_image_animation {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.second_image img {
    width: 100%;
    height: 100%;
}

.bg_image_container p {
    font-size: 20px;
    color: #fff;
    padding-top: 55px;
    z-index: 100;
}

.bg_image_container .button {
    margin-top: 25px;
    color: #fff;
    border-color: #fff;
    z-index: 100;
}

.bg_image_container:hover,
.second_image:hover {
    filter: grayscale(0) !important;
    transition: .7s ease;
}

.bg_image_container p:hover~div {
    filter: grayscale(0);
}

.bg_image_container a:hover~div {
    filter: grayscale(0);
}


/*section_7_end*/


/*section_8*/

.special_bg_color {
    background-color: #f3f3f3;
}

.section_name_padding {
    padding-top: 80px;
}

.section_padding {
    padding-bottom: 100px;
}

.members_slider_container {
    margin-top: 60px;
    padding: 60px 0;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #fff;
}

.members_slider {
    margin: 0 auto;
    width: 955px;
    display: flex;
    justify-content: space-between;
}

.member__message_container {
    margin-left: 70px;
    text-align: left;
    color: #81868e;
}

.member__message {
    line-height: 1.6;
}

.member_name {
    margin-top: 26px;
    font-size: 16px;
    font-weight: 700;
}

.members_slider img {
    width: auto !important;
}

.member_position {
    color: #464646;
    font-weight: 400;
    margin-top: 8px;
}

.members_slider_container .slider_buttons {
    margin-top: 50px;
    margin-bottom: 60px;
}

.grabeo_bg .owl-carousel.owl-loaded {
    display: flex;
}

.grabeo_bg .owl-dots {
    flex-direction: column;
    height: 50px;
    margin-top: 140px !important;
    margin-right: -65px !important;
}


/*section_8_end*/


/*section_9*/

.grabeo_bg {
    position: relative;
    height: 691px;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: url(../img/grabeo_3_bg.jpg) no-repeat center top/cover;
    box-shadow: 0px 250px 650px -50px #000000 inset;
    filter: grayscale(1);
    transition: ease 1s;
    z-index: -100;
}

.grabeo_bg:hover>.background {
    filter: grayscale(0);
    transition: ease 1s;
}

.grabeo_bg .section_name {
    color: #fff;
    text-align: left;
}

.grabeo_bg .message {
    color: #b2b3b3;
    font-size: 14px;
    text-align: left;
    margin: 40px 0 0;
    width: 460px;
}

.grabeo_slider_container {
    margin: 100px 0 0 auto;
    width: 1100px;
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #81868e;
}

.grabeo_slider {
    width: 555px;
}

.news_name {
    color: #e1e4e9;
    font-size: 16px;
    font-weight: 400;
}

.news_author {
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}

.news_social_activity {
    margin-top: 18px;
    color: #464646;
    font-size: 12px;
}

.news {
    margin-top: 55px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
}

.grabeo_slider .button {
    margin-top: 40px;
    color: #b2b3b3;
    border-color: #b2b3b3;
}

.grabeo_slider_container .slider_buttons {
    margin: 40px 0 0;
    flex-direction: column;
    width: auto;
    height: 50px;
}

.grabeo_slider_container .slider_button {
    border-color: #b2b3b3;
}

.grabeo_slider_container .is_active {
    background-color: #b2b3b3;
}


/*section_9_end*/


/*section_10*/

.services_container {
    display: flex;
    width: 833px;
    justify-content: space-between;
    margin: 60px auto 0;
    padding-bottom: 100px;
}

.service_item_container {
    background-color: #fff;
    position: relative;
    width: 234px;
    height: 301px;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    overflow: hidden;
}

.service {
    position: absolute;
    top: -234px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    transition: 1.2s cubic-bezier(0.4, 0.93, 0.53, 1.38);
}

.items {
    margin: 35px 0 0 35px;
    height: 165px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.item {
    font-size: 14px;
    color: #81868e;
}

.tariff_and_start_button {
    position: relative;
    margin-top: 35px;
    width: 100%;
    height: 66px;
    background-color: #19bd9a;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.tariff_name {
    font-size: 20px;
    font-weight: 700;
}

.start_button {
    position: absolute;
    font-size: 16px;
    z-index: -1;
    opacity: 0;
    transition: 0.5s ease;
}

.start_button a {
    color: #fff;
}

.coast {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 43px;
    color: #19bd9a;
    margin-top: 65px;
}

.billing_cycle {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
    color: #81868e;
}

.service_item_container:hover>.service {
    top: 0;
    transition: 1.2s cubic-bezier(0.4, 0.93, 0.53, 1.38);
}

.service_item_container:hover .tariff_name {
    opacity: 0;
    transition: 1s ease;
}

.service_item_container:hover .start_button {
    z-index: 1;
    opacity: 1;
    transition: 2s ease;
}


/*section_10_end*/


/*section_11*/

.special_position {
    position: relative;
}

.bg_image_container.another_bg {
    background: url(../img/typing_bg.jpg) no-repeat center top/cover;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.special_position .section_name {
    color: #fff;
    padding-top: 75px;
}

.special_position .message {
    padding: 0;
    color: #81868e;
    font-size: 18px;
}

.email_form {
    margin: 60px auto 0;
    width: 518px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 75px;
}

input,
input:hover,
input:focus,
textarea:focus {
    outline: none!important
}

.email_form input {
    box-sizing: border-box;
    padding: 14px 21px;
    color: #cfd3d4;
    border: 1px solid #81868e;
    background-color: rgba(0, 0, 0, 0);
    font-size: 15px;
    width: 356px;
}

.email_form .submit_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    background-color: #19bd9a;
    border-color: #19bd9a;
    color: #fff;
    width: 150px;
}

.special_position:hover>.bg_image_container,
.second_image {
    filter: grayscale(0) !important;
    transition: .7s ease;
}


/*section_11_end*/


/*section_12*/

.contacts_outer_container {
    width: 940px;
    margin: 60px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_container {
    background-color: #fff;
    width: 287px;
    text-align: center;
    border-bottom: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.contact_icon_contaier {
    height: 145px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image_1 {
    background: url(../img/notebook.jpg) no-repeat center top/cover;
}

.image_2 {
    background: url(../img/map.jpg) no-repeat center top/cover;
}

.image_3 {
    background: url(../img/macBook.jpg) no-repeat center top/cover;
}

.contact_icon_contaier i {
    font-size: 50px;
    color: #d8d8d9;
}

.contact_type {
    font-size: 16px;
    color: #595959;
    margin-top: 28px;
}

.contact_data {
    font-size: 14px;
    color: #81868e;
    margin-top: 21px;
    padding-bottom: 27px;
}

.contact_form {
    width: 940px;
    margin: 180px auto 0;
    padding-bottom: 130px;
}

.sender_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sender_info input {
    box-sizing: border-box;
    width: 285px;
    height: 39px;
    border: 1px solid #d8dce0;
    padding: 14px 19px;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.sender_message {
    margin: 30px auto 0;
}

.sender_message textarea {
    box-sizing: border-box;
    width: 938px;
    height: 188px;
    border: 1px solid #d8dce0;
    resize: none;
    padding: 14px 19px;
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
    vertical-align: top;
}

.contact_form input[type="text"]::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="text"]:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="text"]::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="text"]::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="email"]::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="email"]:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="email"]::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form input[type="email"]::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form textarea[placeholder=""]::-webkit-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form textarea[placeholder=""]:-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form textarea[placeholder=""]::-ms-input-placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.contact_form textarea[placeholder=""]::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: #a9a9a9;
    font-family: 'Open Sans', sans-serif;
}

.sender_info_submit {
    margin-top: 30px;
    height: 53px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding-top: 18px;
    padding-bottom: 18px;
    background-color: #19bd9a;
    border: none;
    vertical-align: top;
}


/*section_12_end*/


/*section_13*/

.google_maps {
    height: 496px;
    position: relative;
}

.google_maps_filter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.85);
    transition: all 1.5s ease;
}

.google_maps iframe {
    filter: grayscale(1);
    transition: 1.4s ease;
}

.google_maps_message {
    width: 214px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    font-size: 18px;
    color: #fff;
}

.google_maps_message p {
    display: inline-block;
}

.google_maps_button i {
    padding: 6px;
    font-size: 9px;
    background-color: #19bd9a;
    border-radius: 50%;
}

a.google_maps_button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.google_maps:hover>.google_maps_filter {
    opacity: 0;
    z-index: -1;
    transition: 1.5s ease;
}

.google_maps iframe:hover {
    filter: grayscale(0);
    transition: 1.4s ease;
}


/*section_13_end*/


/*footer*/

footer {
    max-width: 2560px;
    min-width: 1170px;
    text-align: center;
}

footer .logo {
    margin-top: 77px;
    font-family: 'Big John', sans-serif;
    font-weight: 900;
    font-size: 25pt;
    color: #323a45;
}

.signature {
    margin-top: 20px;
    color: #81868e;
    font-size: 14px;
}

.social_media_icons {
    width: 172px;
    margin: 35px auto 0;
    padding-bottom: 90px;
}

.social_media_icons ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social_media_icons a {
    color: #fff;
}

.social_media_icons_item {
    height: 26px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social_media_icons_item i {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social_media_icons_item:nth-child(1) {
    background-color: #3b5998;
}

.social_media_icons_item:nth-child(2) {
    background-color: #26a6d1;
}

.social_media_icons_item:nth-child(3) {
    background-color: #0e76a8;
}

.social_media_icons_item:nth-child(4) {
    background-color: #3f729b;
}

.social_media_icons_item:nth-child(5) {
    background-color: #86c9ef;
}


/*footer_end*/


/*-----------------------------------------*/


/*-----------------------------------------*/


/*
div {
	border: 1px solid red; 
}
*/

.animated {
    opacity: 0;
}

.removeOpacity {
    opacity: 1 !important;
}